[Unit]
Description=AutoSSH Tunnel Service
After=network.target

[Service]
ExecStartPre=/bin/sleep 30
Type=forking
ExecStart=/home/dacosta/CALLHOME/autossh_script.py
Restart=always
User=dacosta
WorkingDirectory=/home/dacosta/CALLHOME

[Install]
WantedBy=multi-user.target
