[Unit]
Description=My Script

[Service]
ExecStart=/home/dacosta/CALLHOME/myip_script.sh
Restart=on-failure
StartLimitBurst=6
RestartSec=60
User=dacosta

[Install]
WantedBy=multi-user.target
